.empty_cart{
    min-height: 80vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:1em;
    width: 80%;
    margin: 2em auto;
    min-height: 70vh;

    .cart_details{
        background-color: white;
        padding: 1em;
        box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.1);
        min-height: 20em;
        transition: transform .5s linear;
        cursor: pointer;

        &:hover{
            transform: translateY(1%);
            box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.2);
        }

        .cart_title{
            display: flex;
            height: 3em;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding-bottom: -1em;
            
        }

        .cart_card{
            display: grid;
            grid-template-columns: 2fr 4fr 1fr;
            grid-gap:1em;
            border-top: .05em solid rgb(206, 206, 206);
            border-bottom: .05em solid rgb(214, 214, 214);
            padding: .5em 0;

            .price{
                text-align: right;
            }

            .name{
                display: flex;
                flex-direction: column;
                
                .quantity{
                    display: flex;
                }

                .name_moreinfo{
                    display: flex;

                    .name_space{
                        border-right: .05em solid rgb(206, 206, 206) ;
                        padding: 0 .1em;
                    }

                    p{
                        margin-top: .5em;
                        padding-right: .5em;
                    }

                    button{
                        display: inline-block;
                        
                        margin-right: .5em;
                    }
                }
            }

            .product_img{
                img{
                    width: 100%;
                    height: 10em;
                    object-fit: contain;
                }
            }
        }
    }

    .cart_total{
       
    }

    .cart_total_inner{
        background-color: white;
        padding: 6em 2em;
        box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.1);
        min-height: 20em;
        transition: transform .5s linear;
        cursor: pointer;


        &:hover{
            transform: translateY(1%);
            box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.2);
        }

        p{
            margin-bottom: .5em;
            font-size: 1.2em;
            font-weight: bolder;
           
        }
    }
}

@media screen and (max-width:50em){
    .cart{
        margin-top: 6em;
        display: block;
        width: 100%;

        .cart_details{
            padding: .5em;
        }
    }
}