.product{
    width: 80%;
    margin: 2em auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap : 1em;
}

.product_card{
    background-color: white;
    padding: 1em;
    box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.1);
    min-height: 20em;
    transition: transform .5s linear;
    cursor: pointer;

    &:hover{
        transform: translateY(1%);
        box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.2);
    }

    .fav{
        margin-top: 1em;
        background-color: rgb(235, 235, 235);
        border-radius: 100%;
        display: inline-block;
        height: 2em;
        width: 2em;
        
        p{
            padding: .5em;
        }
    }

    .product_img{
        img{
            width: 100%;
        }
    }
   
}