.search{
    

    form{
        .search_form{
            width: 100%;
            background-color: brown;
            height: 6vh;
            display: flex;
            

            input{
               height: 100%;
               width: 90%;

            }

            p{
                height: 100%;
                width: 10%; 
                background-color: orange; 
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:50em){
    .search{
        form{
            width: 90%;
            margin: 1em auto;
            background-color: $nav;
            
            .search_form{
                border-radius: $border_radius;
            }
        }
    }
}