$main_bg : rgb(253, 253, 253);
$btn :orange;
$btn_text_color:white;
$btn_hover : white;
$btn_hover_text_color: orange;
$nav : lightcoral;
$h1 : white;
$h2 : orange;
$border_radius: .3em;
$a_link: white;
$a_link_hover : white;