.nav{
    width: 100%;
    height: 10vh;
    background-color: $nav;
    color: white;

    .nav_inner_mobile{
        display: none;
    }

    .nav_inner{
        width: 90%;
        height: 100%;
        margin:  auto;
        display: grid;
        grid-template-columns: 180px 180px 500px 500px;
        padding-top: 1.2em;
        
        .deliver{
            
            margin-top: .1em;

            p{
                display: inline-block;
                padding: .5em 1em;
                &:hover{
                    
                    border: .1em solid white;
                    border-radius: $border_radius;
                }
            }
        }

        .logo{
            margin-top: -.1em;

            h1{
                padding: .2em 1em;
                display: inline-block;
                font-size: 1.5em;
                &:hover{
                    
                    font-size: 1.5em;
                    border: .1em solid white;
                    border-radius: $border_radius;
                }
            }
        }

        ul{
            list-style: none;
            display: flex;
            margin-left: 1em;
            margin-top: .5em;
            

            li{


                a{
                    padding: .5em 1.5em;
                    &:hover{
                        
                        border: .1em solid white;
                        border-radius: $border_radius;
                    }
                }
            }
        }

        .nav_search{
            margin-bottom: 3em ;

            &:hover{
                padding-right: 0;
                border: .1em solid white;
                border-radius: $border_radius;
            }
        }
    }
}

@media screen and (max-width:50em) {
    .nav{
        background-color: $nav;
        height: 20vh;
        .nav_inner{
            display: none;

        }
        .nav_inner_mobile{
            display: block;

            .upper_nav{
                height: 10vh;
                display: flex;
                width: 90%;
                margin: auto;
                justify-content: space-between;
                align-items: center;

                ul{
                    display: flex;
                    list-style: 
                    none;

                    li{
                        margin-right: .5em;
                    }
                }

                .logo{
                    margin-left: -5em;
                    h1{
                        font-size: 1.5em;
                    }
                }
            }

            .deliver{
                margin-top: -.5em;
                background-color: rgb(206, 101, 101);
                padding: 1em;
            }
        }
    }
}